.callback-form {
	width: 100%;
	max-width: 350px;
	border: 1px solid var(--main-black-color);
	padding: 25px;
	border-radius: 5px;
	position: fixed;
	background-color: white;
	left: 50%;
	top: 50%;
	z-index: 10;
	transform: translate3d(-50%, -50%, 0);
}

.form-call {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
	row-gap: 10px;
}

.form-zvonok div {
	padding: 15px 0;
}

.bot-send-mail {
	box-sizing: border-box;
	width: 100%;
}

.form-call label,
.form-call input {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.form-call label {
	margin-bottom: 5px;
	font-weight: bold;
}

.form-call input {
	padding: 10px 15px;
	margin-top: 10px;
	border: 1px solid var(--main-black-color);
	border-radius: 5px;
}

.form-call label span {
	color: red;
}

.form-call .bot-send-mail {
	font-family: 'Open Sans';
	font-size: 18px;
	padding: 15px;
	margin-top: 10px;
	background: none;
	border: none;
	color: #fff;
	background-color: var(--main-color);
	cursor: pointer;
	border: 1px var(--main-black-color) solid;
	border-radius: 5px;
	transition: background-color .2s ease;
}

.form-call .bot-send-mail:hover {
	background-color: var(--main-hover-color);
}

.callback-form_hidden {
	display: none;
}

#form-wrapper {
	width: 100vw;
	height: 100vh;
	background-color: rgba(1, 1, 1, .5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
}


#close-form_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.personal_agree {
	display: grid;
	grid-template-columns: 0.2fr 0.8fr;
}

.check_agree {
	width: 25px;
	height: 25px;
}
.agreement_link {
	color: #5CCCCC;
	text-decoration: underline;
}