
#hamburger-btn {
	display: none;
}


@media (max-width: 769px) {
	.navbar {
		grid-template-columns: repeat(3, 1fr);
	}

	.menu-link a {
		font-size: 17px;
		line-height: 18px;
	}

	.title {
		font-size: 46px;
		margin-left: 10px;
	}

	.features {
		width: 70%;
	}

	#prod-collection {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	#prev,
	#next {
		display: block;
	}

	.model-item {
		width: 231px;
	}

	.model-info-frame p:nth-child(1) {
		font-size: 18px;
	}

	.model-info-frame p:nth-child(2) {
		font-size: 15px;
	}

	.model-info-frame {
		gap: 15px;
	}

	.quest {
		width: 234px;
	}

	.questions-block {
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-info {
		margin-left: 25px;
	}

	.categories_app-item {
		width: 40%;
	}

}

@media (max-width: 426px) {
	.header {
		background-color: white;
	}

	.navbar {
		grid-template-columns: repeat(2, 1fr);
	}

	.navbar-item::after,
	.navbar-item::before {
		display: none;
	}

	.navbar-item:nth-child(3) img {
		height: 50%;
	}

	.navbar-logotype img {
		height: 50%;
		align-self: center;
	}

	.title {
		font-size: 36px;
	}

	.hero {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.hero-feedback-form {
		width: 381px;
		height: fit-content;
	}

	.inputs {
		flex-direction: column;
		row-gap: 10px;
	}

	.inputs input {
		border-radius: 5px;
	}

	.inputs button {
		border-radius: 5px;
	}

	.feat-tab {
		width: 165px;
		font-size: 16px;
		line-height: 20px;
	}

	.features {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.feat-tab:nth-child(1),
	.feat-tab:nth-child(3) {
		justify-self: flex-end;
	}

	.feat-tab:nth-child(2),
	.feat-tab:nth-child(4) {
		justify-self: flex-start;
	}

	#prod-collection {
		flex-wrap: wrap;
		justify-content: center;
	}

	#prev,
	#next {
		display: none;
	}

	.model-item {
		width: 361px;
	}

	.quest:nth-child(2) {
		display: none;
	}

	.quest:nth-child(1) {
		display: none;
	}

	.questions-block {
		grid-template-columns: 1fr;
		height: fit-content;

	}

	.designer img {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.quest:nth-child(3) {
		grid-row: 2/3;
		grid-column: 1/2;
		height: 75px;
	}

	.designer {
		height: 471px;
	}

	.questions .title {
		text-align: left;
	}

	.footer {
		grid-template-columns: 1fr;
		row-gap: 30px;
		justify-items: center;
	}

	.navbar-item:nth-child(3) {
		flex-direction: row-reverse;
	}

	.materials-item {
		grid-template-columns: 1fr;
	}

	.categories_app-item {
		width: 90%;
	}

	#hamburger-btn {
		display: block;
	}

	.menu {
		position: fixed;
		height: fit-content;
		width: 100vw;
		background-color: white;
		z-index: 15;
		flex-direction: column;
		top: 0;
		left: 0;
		row-gap: 25px;
		padding: 25px 0;
		align-items: flex-start;
		display: none;
	}
	.menu-show {
		display: flex;
	}

}