<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="./icons/letter-m.ico" type="image/x-icon">
	<link rel="stylesheet" href="./css/style.css">
	<title>Mebelliz - Мебель на заказ от производителя</title>
</head>

<body>
	<div id="hamburger-btn"><img src="./icons/hamburger.svg" alt=""></div>
	<div id="up"><a href="#header"><img src="./icons/up.svg" alt=""></a></div>
	<div id="form-wrapper" class="callback-form_hidden">
		<form id="callback" class="callback-form callback-form_hidden">
			<div id="close-form_btn"><img src="./icons/x.svg" alt=""></div>
			<div class="form-call">
				<div>
					<label>Имя <span>*</span></label>
					<input type='text' name="client-name" id="client-name" required>
				</div>
				<div>
					<label>Номер телефона (с кодом) <span>*</span></label>
					<input type="phone" name="client-phone" id="client-phone" required>
				</div>
				<div>
					<label>Электронная почта</label>
					<input type="mail" name="client-mail" id="client-mail">
				</div>
				<div>
					<label>Сообщение</label>
					<input name="client-request" id="client-request">
				</div>
				<div class="personal_agree">
					<input class="check_agree" required type="checkbox">
					<label>Согласие на <a class="agreement_link" href="./pages/policy.html">обработку персональных данных</a></label>
				</div>
				<input id="callback-send" class="bot-send-mail" type='submit' value='Оставить заявку'>
			</div>
		</form>
	</div>

	<header id="header">
		<div class="header">
			<ul class="navbar navbar__container>
				<li class=" navbar-item">
				<div class="navbar-logotype">
					<div class="logo-text">
						<a href="./index.html">
							<h2>Mebelliz</h2>
						</a>
					</div>
				</div>
				</li>
				<li class="navbar-item">
					<a href="#catalogue" id="catalogue-link">Каталог</a>
				</li>
				<li class="navbar-item">
					<p>
						Отвечаем на звонки <br> <span>с 9:00 до 21:00</span> <br> без выходных
					</p>
				</li>
				<li class="navbar-item">
					<a target="_blank" href="https://api.whatsapp.com/send/?phone=79776579003"><img src="./icons/whatsapp.svg" alt=""></a>
					<a href="#"><img src="./icons/telegram.svg" alt=""></a>
					<a href="mailto:info@mebelliz.ru"><img src="./icons/mail.svg" alt=""></a>
				</li>
				<li class="navbar-item">
					<a href="tel:+79296618949">+7 (929) 661-89-49</a>
					<a class="callback-show" href="#">Вам перезвонить?</a>
				</li>
			</ul>
			<ul class="menu menu__container">
				<li class="menu-link"><a href="#materials_app">Материалы</a></li>
				<li class="menu-link"><a href="#catalogue">Наши работы</a></li>
				<li class="menu-link"><a href="#steps">Как заказать</a></li>
				<li class="menu-link"><a href="./pages/designersPage/for-designers.html">Дизайнерам</a></li>
				<li class="menu-link"><a href="#contacts">Контакты</a></li>
			</ul>
		</div>
		<section class="hero hero__container">
			<div class="hero-block">
				<h1 class="title">Мебель на заказ по индивидуальным и дизайнерским проектам</h1>
				<div class="hero-info">
					<div class="hero-info-item">
						<img src="./icons/cash.svg" alt="">
						<p>Цены от <span>производителя</span></p>
					</div>
					<div class="hero-info-item">
						<img src="./icons/varanty.svg" alt="">
						<p>Гарантия <span>15 лет</span></p>
					</div>
				</div>
				<form class="hero-feedback-form" action="#">
					<h3>Расчет стоимости</h3>
					<p>Мы свяжемся с Вами и расчитаем стоимость <br> Вашей <span>индивидуальной</span> мебели</p>
					<!-- <button class="btn callback-show">Оставить заявку</button> -->
				</form>
			</div>
		</section>
	</header>

	<main>
		<section class="features features__container">
			<p class="subtitle">Добро пожаловать в нашу компанию, занимающуюся производством и продажей мебели! <br>
				Мы рады предложить вам широкий ассортимент мебели для дома, офиса и других помещений.</p>
			<div class="feat-tabs">
				<div class="feat-tab">
					<img src="./icons/feat-icons/2.svg" alt="">
					<p>Изготавливаем мебель с 2008 года</p>
				</div>
				<div class="feat-tab">
					<img src="./icons/truck.svg" alt="">
					<p>Бесплатная <br> доставка</p>
				</div>
				<div class="feat-tab">
					<img src="./icons/feat-icons/4.svg" alt="">
					<p>Срок службы <br> 35 лет</p>
				</div>
			</div>
		</section>
		<section id="catalogue" class="categories-wrapper">
			<div class="categories categories__container">
				<h2 class="title">Какую мебель <br> <span>мы производим?</span></h2>
				<br><br><br>
				<div id="categories_app">
					<div v-for="(item, index) in categoriesList" :id="'categoryID-'+(index)"
						class="categories_app-item">
						<img :src="item.img" alt="">
						<div class="item-frames">
							<div class="item-info-frame">
								<p><span>{{ item.name }} </span></p>
							</div>
							<div class="item-btns-frame">
								<p>Цена: <span> {{ item.price }}</span></p>
								<button :id="'categoryBTN-'+(index)" class="btn category-btn"><a
										:href="item.link">Подробнее</a></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="materials_app" class="mat mat__container">
			<h2 class="title">Какие <span>материалы</span> <br> мы используем</h2>
			<br><br><br>
			<p class="subtitle">Мы используем только высококачественные материалы и современное оборудование, чтобы
				создавать мебель, которая будет радовать вас своей красотой и функциональностью на протяжении многих
				лет.</p>
			<div class="materials">
				<div v-for="(item, index) in materialsList" class="materials-item">
					<div class="material-name">
						<h3>{{ item.name[0] }} <br> {{ item.name[1]}}</h3>
					</div>
					<div class="material-descr">
						<p>{{ item.descr }}</p>
					</div>
				</div>
				<!-- </div>
			<a href="#" id="material_other">И другие...</a>
			<div class="materials-short material-short_hidden">
				<p v-for="item in materialsListShort">{{ item }}</p>
			</div> -->

		</section>
		<!-- <section class="find-model find-model__container">
			<div class="find-model-titles">
				<h2 class="title">Не нашли нужную модель? <br> <span>Она точно у нас есть!</span></h2>
				<div>
					<p>Мы изготовили более <span>3000</span> мебели на заказ!</p>
					<p>Получите подробный каталог</p>
				</div>
			</div>
			<div id="find-collection">
				<div class="model-item">
					<img src="./img/furn-images/1.JPG" alt="">
					<div class="model-info-frame">
						<p>Современные стеллажи</p>
						<p>У нас более <span>650</span> моделей современных стеллажей.</p>
						<button class="btn">Получить каталог</button>
					</div>
				</div>
				<div class="model-item">
					<img src="./img/furn-images/1.JPG" alt="">
					<div class="model-info-frame">
						<p>Современные стеллажи</p>
						<p>У нас более <span>650</span> моделей современных стеллажей.</p>
						<button class="btn">Получить каталог</button>
					</div>
				</div>
				<div class="model-item">
					<img src="./img/furn-images/1.JPG" alt="">
					<div class="model-info-frame">
						<p>Современные стеллажи</p>
						<p>У нас более <span>650</span> моделей современных стеллажей.</p>
						<button class="btn">Получить каталог</button>
					</div>
				</div>
			</div>
		</section> -->
		<section id="steps" class="steps-wrapper">
			<div class="steps steps__container">
				<h2 class="title">5 шагов к Вашей <br> <span>идеальной мебели</span></h2>
				<div class="steps-tabs">
					<div class="step">
						<img src="./img/steps/1.png" alt="">
						<div class="step-title">
							<img src="./icons/steps/1.svg" alt="">
							<h3>Заявка</h3>
						</div>
						<p><a href="#">Вы оставляете заявку</a> или звоните нам <a href="tel:+79892779430">+7
								(989) 277-94-30</a> Наш специалист подробно расскажет Вам об особенностях нашей
							мебели, вариантах оплаты и ее установки.</p>
					</div>

					<div class="step">
						<img src="./img/steps/2.png" alt="">
						<div class="step-title">
							<img src="./icons/steps/2.svg" alt="">
							<h3>Консультация дизайнера </h3>
						</div>
						<p>Наши дизайнеры с 9:00 до 21: 00 помогут Вам подобрать идеальную мебель.</p>
					</div>

					<div class="step">
						<img src="./img/steps/3.png" alt="">
						<div class="step-title">
							<img src="./icons/steps/3.svg" alt="">
							<h3>Заявка</h3>
						</div>
						<p>Подписываем договор, согласовываем удобное для Вас
							время доставки и сборки.</p>
					</div>

					<div class="step">
						<img src="./img/steps/4.png" alt="">
						<div class="step-title">
							<img src="./icons/steps/4.svg" alt="">
							<h3>Доставка и сборка мебели</h3>
						</div>
						<p>Привезем Вашу мебель, соберем и установим. По окончанию монтажа выносим
							мусор.</p>
					</div>

					<div class="step">
						<img src="./img/steps/5.png" alt="">
						<div class="step-title">
							<img src="./icons/steps/5.svg" alt="">
							<h3>Поздравляем! <br> Ваша мебель готова!</h3>
						</div>
						<p>Теперь вы можете наслаждаться временем проведенным с семьей с Вашей новой мебелью.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="why-us why-us__container">
			<h2 class="title">Почему выбирают <span>нашу мебель?</span></h2>
			<div class="why-us-tabs">
				<div class="why-us-tab">
					<img src="./img/why-us/1.png" alt="">
					<div class="why-us-title">
						<h3>Современные фасады</h3>
					</div>
					<p>Наши фасады на <span>20% </span> долговечнее обычных, так как они влагоустойчивы и не
						подвержены повреждениям. В наличии более <span>250</span> фактур и <span>2000</span>
						оттенков.</p>
				</div>
				<div class="why-us-tab">
					<img src="./img/why-us/2.png" alt="">
					<div class="why-us-title">
						<h3>Прочные столешницы</h3>
					</div>
					<p>Наши столешницы на <span>25%</span> прочнее и в <span>2</span> раза влагоустойчивее чем
						обычные. В наличии <span>10</span> покрытий и <span>170</span> вариантов расцветок и
						фактур.</p>
				</div>
				<div class="why-us-tab">
					<img src="./img/why-us/3.png" alt="">
					<div class="why-us-title">
						<h3>Долговечная и функциональная фурнитура</h3>
					</div>
					<p>Выдерживает более <span>25</span> лет службы. Создает максимальный комфорт и удобство
						пользования мебелью.</p>
				</div>
				<div class="why-us-tab">
					<img src="./img/why-us/4.png" alt="">
					<div class="why-us-title">
						<h3>Полный комплект документов</h3>
					</div>
					<p>Вы получите: договор, гарантийный талон и правила эксплуатации. Это
						гарантирует защиту Ваших прав.</p>
				</div>
				<div class="why-us-tab">
					<img src="./img/why-us/5.png" alt="">
					<div class="why-us-title">
						<h3>Опытные и вежливые сборщики</h3>
					</div>
					<p>Наши сборщики вежливы и аккуратны. Соберут, установят и вынесут строительный мусор. Имеют
						стаж работы с мебелью не менее <span>10</span> лет.</p>
				</div>
			</div>
		</section>
		<!-- <section id="contacts" class="questions questions__container">
			<h2 class="title">Остались вопросы? — <br> <span>С радостью ответим на них!</span></h2>
			<div class="questions-block">
				<div class="quest">
					<img src="./icons/que1.svg" alt="">
					<p>Отвечаем на звонки <br> с 9:00 до 21:00 <br> без выходных!</p>
				</div>
				<div class="quest">
					<button class="btn callback-show">Оставьте заявку</button>
				</div>
				<div class="quest">
					<img src="./icons/que3.svg" alt="">
					<p><a href="tel:+79296618949">+7 (929) 661-89-49</a></p>
				</div>
				<div class="designer">
					<img src="./img/photo.png" alt="">
					<p><span>Юлия,</span> Дизайнер</p>
				</div>
			</div>
		</section> -->
	</main>
	<footer>
		<div class="wrapper-footer">
			<div class="footer footer__container">
				<div class="contacts">
					<h2>Изготовление мебели на заказ <br> и по дизайнерским проектам</h2>

					<h4>Контакты:</h4>
					<a href="tel:+79296618949">+7 (929) 661-89-49</a>
					<div class="social-footer">
					<a target="_blank" href="https://api.whatsapp.com/send/?phone=79776579003"><img src="./icons/whatsapp.svg" alt=""></a>
						<a href="#"><img src="./icons/telegram.svg" alt=""></a>
					</div>
					<a href="mailto:info@mebelliz.ru">info@mebelliz.ru</a>
					<p><span>Режим работы:</span> ежедневно с 11-00 до 20-00</p>
					<p><span>Адрес: </span><a href="https://yandex.ru/maps/-/CLTXmws">Колхозная улица, с1А, Лыткарино, Московская область, 140082</a></p>
				</div>
			</div>
		</div>
	</footer>

	<script src="./js/jquery.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="./js/modal.js"></script>
	<script src="./js/mailer.js"></script>
	<script src="./js/script.js"></script>
</body>

</html>